.chart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

canvas{
  width:1000px !important;
  height:400px !important;
}

.borderless td, .borderless th {
    border: none;
}
.jumbotron {
    margin-bottom: auto;
}
